{"adwareList":{"com.uapush.":"Uapush","com.joe.activity.TestReceiver":"Joe","cn.aduu.":"优友广告","com.kuguo.":"酷果广告","android.common.appoffer.":"安软园广告","com.appenda.":"Appenda","com.doumob.":"多盟广告","com.iac.notification.":"IAC","com.waps.":"万普广告","com.dianru.":"点入广告","com.airpush.":"Airpush","com.g3app.":"g3app","com.aichess.":"Aichess","net.miidi.":"米迪广告","com.Leadbolt.":"Leadbolt","com.aseiei.apxxxx.":"暗推"},"updateDate":"2012-11-29","version":1002}